# Jekyll build output
_site/
.jekyll-metadata

# Jekyll miscellaneous files
.jekyll-cache/
.sass-cache/

# Environment variables file (VERY IMPORTANT!)
.env

# Node dependencies (if you use npm/yarn for assets)
node_modules/

# Bundler runtime paths
# May be needed if you ran bundle install --path vendor/bundle
# vendor/bundle/

# Mac OS folder attributes
.DS_Store

# Logs
logs/
*.log